@import "@angular/material/prebuilt-themes/pink-bluegrey.css";



:root {
    $text-color: black;
    $backgroud-color: whitesmoke;

    html, body { width: 100%; height: 100%; margin: 0px; }
    body { font-family: Roboto, "Helvetica Neue", sans-serif; background: var($backgroud-color); color: var($text-color); font-size: 1em;}
}
